body {
    background-color:#912b06;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
}

a{
    color:#105751;
} 

#button, input[type="submit"]  {
    border: 1px solid #073B36;
    padding: 1px 3px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-weight: bold;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    color: white;
    background-color:#105751;
    text-decoration: none;
    margin: 0 auto;
}

a:hover {
    color: #333;
}
form{
    margin: 0 auto;
}

input[type="text"],
input[type="password"] {
    background: white;
    border: 1px solid #BFE6E2;
    padding: 2px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    color: #105751;
    
}
table{
    margin: 5px auto;
}

td,#my_message {
    color: white;
    background-color:#105751;
    padding: 1px 3px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}


#username{
    background-color:white;
    color: black;
    font-style: italic;
}



#my_message{
    background-color:#912b06;
    
}

div.page {
    background: white;
    border: 3px solid #000000;
    width: 700px;
    margin: 30px auto;
}

div.page h1 {
    background: #105751;
    margin: 0;
    padding: 10px 14px;
    color: white;
    letter-spacing: 1px;
    text-shadow: 0 0 3px #24776F;
    font-weight: normal;
}


div.page div.body {
    padding: 10px;
}

div.page div.footer {
    background: #eee;
    color: #888;
    padding: 5px 10px;
    font-size: 12px;
}

ul.flashes {
    list-style: none;
    margin: 10px 10px 0 10px;
    padding: 0;
}

ul.flashes li {
    background: #B9F3ED;
    border: 1px solid #81CEC6;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 4px;
    font-size: 13px;
}

