<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}Chatrooms{% endblock %}</title>
	    {% block head %}
	    {% endblock %}
	</head>

	<body>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	    <div class="page">
	        <h1>Chat Rooms</h1>
			{% if "user_id" in session %}
			    <div class = "body">
				Logged in as {{ session["user_name"] }}, <a href="{{ url_for("unlogger") }}">click here to logout</a>
				</div>
				<br />
			{% endif %}
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					<ul class="flashes">
						{% for m in messages %}
							<li>{{ m }}</li>
						{% endfor %}
					</ul>
				{% endif %}
			{% endwith %}
			<div class = "body">
			{% block body %}
			{% endblock %}
			</div>
			  <div class="footer">
                 Chatrooms; A Flask Application
              </div>
		</div>
	</body>
</html>
