{% extends "base.html" %}

{% block title %}Your profile!|{{ super() }}{% endblock %}

{% block body %} Welcome user. This is your very own profile! 
<br/>
<h2>Add a new chatroom:</h2>
<form action="" method="post">
			Chatroom Name:  <input type="text" name="chatroomname"/>
			<br />
			<input type="submit" value="submit" name = "btn"/>
</form>
<br/>
{% if not can_join %}
    There are no chat rooms to join yet.
    <br/>
{% else %}
    Here are the chat rooms you may join:
    <br/>
    <ul>
			{% for c in can_join %}
				<li>Join</li>
				<a id = "button" href="/chatroom/{{ c.chatroom_name }}"> {{c.chatroom_name}} </a>
			{% endfor %}
	</ul>
    <br/>
{% endif %}


{% if not created %}
   You have not created any chatrooms yet.
   <br/>
{% else %}
	Here are the chatrooms you have created:
	<br/>
	<ul>
			{% for c in created %}
				<li>Delete </li>
				<form action="" method="post">
			         <input type="submit" name = 'btn' value= "{{ c.chatroom_name }}"/>
                </form>
			{% endfor %}
	</ul>
{% endif %}

{% endblock %}
